<%- include('partials/header') -%>
<div class="container-fluid">
  <div class="row">
    <div class="sec col justify-content-center text-center">
      <% if(user.img === true) {%>
      <div class="p-3 image-div">
        <img class="profile-pic" src="<%= user.img %>" />
      </div>
      <% } %>
      <div class="p-3">
        <span><%= user.userName %></span>
      </div>
      <div class="p-3">
        <span>quote logic</span>
      </div>
      <div class="p-3">
        <span><a href="" class="settings">Settings</a></span>
      </div>
      <div class="p-3">
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="sec col-sm-6 offset-md-1 justify-content-center text-center">
      <div class="p-3">Collections</div>
    </div>
    <div class=" sec col offset-md-1 justify-content-center text-center">
      <div class="p-3">friends</div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>