.logo{
    width: 8rem;
}

.container-xl{
    width: 100vw;
}
.sec{
    outline: solid red;
    height: 100vh;
}
/* Account */
.pic-container{
    margin-top: 10px;
}

.profile-pic{
    max-width: 100px;
}

.file-container{
    margin-top: 10px;
    padding: 0 20px;
}

/* Collections */

/* Scroll text on resize */
.synopsis, .quote{
 height: 140px;
 overflow-y: scroll;
}